html {
    font-size: 16px;
    line-height: 22px;
}

* {
    margin:0;
    padding:0;
} 

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #f2f4f8;
}

#maincontent {
    margin-left:2rem;
    margin-right:2rem;
}

.bg-light {
    background-color: #FFFFFF!important;
    border-bottom:#eeeeee solid 1px;
}


.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border: 0px;
}

button {
    border-radius: 0px;
}

button:focus {
    outline: 1px dotted;
    outline: 0px auto;
}

.navlink a {
    font-size:1rem;
    padding: 0px;
    color: #878D96;
    transition: 0.5s;
} 


.navlink a:hover{
    color: #292929;
    transition: 0.5s;
} 

h1 {
    margin-top: 4rem;
    font-weight: 600;
    font-size:3.75rem;
    line-height: 4.25rem;
    letter-spacing: 0em;
    text-align: left;
}


h2 {
    font-weight: 300;
    font-size:1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0em;
    text-align: left;
    padding-top:1rem;
}

#linksection {
    margin-top:12rem;
    margin-bottom:-3rem;
    padding-left:2rem;
    padding-right:2rem;
    background-color:#21272A ;
}

#linksection .linktitle {
    font-weight: 700;
    font-size:1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    top: -6rem;
}

#linkbanners {
    color:white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: -6rem;
} 

.thebanner {
    width:30%;
    margin-right:2rem;
    margin-bottom:2rem;
    padding:2rem 1.5rem 2rem 1.5rem;
}

.thebanner lottie-player {
    width: 25rem;
    height: 15rem;
}


.bannerpink{
    background: linear-gradient(180deg, #FAACD8 0%, #FB6ABC 100%);
} 

.bannerpurple {
    background: linear-gradient(180deg, #D7C0FF 3%, #B16EF7 100%);
}

.bannerblue {
    background: linear-gradient(180deg, #27B7DF 0%, #0A88C6 100%);
}


.thebannertitle {
    padding-top:2rem;
    font-weight: 600;
    font-size:1.75rem;
    line-height: 2.25rem;
    letter-spacing: 0em;
    text-align: left;
}


#thebannerdescription {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;    
}

#thebannerdescription p {
    width: 60%;
    padding-right: 0.75rem;
    font-weight: 300;
    font-size:1rem;
    line-height: 1.25rem;
    letter-spacing: 0em;
    text-align: left;
}

a.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 10rem;
    border:0px solid;
    border-radius: 0px;
}

.buttonpink img {
    width: 1rem;
}
.buttonpink {
    background-color:#CE2786;
    border:1px solid #CE2786!important;
    color:white;
}
a.btn.buttonpink:hover{
    background-color: rgba(0,0,0,0);
    border:1px solid #CE2786!important; 
    color:white;
}

.buttonpurple img {
    width: 1rem;
}
.buttonpurple {
    background-color:#6929C4;
    border:1px solid #6929C4!important;
    color:white;
}
a.btn.buttonpurple:hover{
    background-color: rgba(0,0,0,0);
    border:1px solid #6929C4!important;
    color:white;
}


.buttonblue img {
    width: 1rem;
}
.buttonblue {
    background-color:#00539A;
    border:1px solid #00539A!important;
    color:white;
}
a.btn.buttonblue:hover{
    background-color: rgba(0,0,0,0);
    border:1px solid #00539A!important;
    color:white;
}

.changepink {
    fill:#CE2786;
}

.changepurple {
    fill:#6929C4;
}

.changeblue {
    fill:#00539A;
}


footer {
    padding: 3rem 2rem 2rem 2rem;
    background-color:#21272A;
    color:white; 
}

#footermain {
    display:flex;
    justify-content: space-between;
    width: 100%;
}



.footer-brand {
    padding-bottom:1rem;
}

.pcopyright {
    font-size:0.75rem;
    opacity:0.5;
    bottom:3rem;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
}


#socialmedia {
    z-index:9!important;
}


#socialmedia a {
    text-decoration:none;
}




input[type=submit] {
    -webkit-border-radius:0px;
}

input, textarea, button {
    -webkit-appearance: none;
    border-radius: 0;
  }

/*Moto*/
@media only screen and (min-width: 300px) {
    html {
        font-size: 14px;
    }
   
    h1 {
        font-size:3rem;
        line-height: 3.5rem;
    }
    .thebanner {
        width:100%;
        margin-right:0rem;
        border-radius: 2px;
    }

    #navbarSupportedContent {
        padding-top:2rem;
    }

    #thebannerdescription {
        flex-direction: column;
    }

    #thebannerdescription p {
        width: 100%;
    }


    .thebanner lottie-player {
        width: 25rem;
        height: 15rem;
    }

    .pcopyright {
        position:relative!important;
        bottom:-2rem;
        text-align: left;
        justify-content: flex-start;
        }

        #footermain {
            display:flex;
            flex-direction: column;
        }
}

/*Iphone*/
@media only screen and (min-width: 400px) {
    html {
        font-size: 16px;
    }
   
    h1 {
        font-size:3.75rem;
        line-height: 4.25rem;
    }

    .thebanner {
        width:100%;
        margin-right:0rem;
    }

    
}

/*DESKTOP TINY*/
@media only screen and (min-width: 600px) {

    .thebanner {
        width:45%;
        margin-right:1.5rem;
    }


    .thebanner lottie-player {
        width: 15rem;
        height: 10rem;
    }


}



/*Ipad*/
@media only screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }

    #maincontent {
        width: 40rem;
    }

    .thebanner {
        width:31%;
        margin-right:1.5rem;
    }

    .bannerblue {
        margin-right:0rem !important; 
    }
   
    h2 {
        padding-right:10rem;
    }

    .thebannertitle {
    width: 70%;
    }

    #navbarSupportedContent {
        padding-top:0rem;
    }

    .pcopyright {
        position: absolute;
        text-align: center;
        display: flex;
        justify-content: center;
        bottom:3rem;
    }


    #footermain {
        display:flex;
        flex-direction: row;
    }

}



@media only screen and (min-width: 875px) {
    .thebannertitle {
        width: 100%;
        }
     
    
}

@media only screen and (min-width: 990px) {
    #navbarSupportedContent {
        position: absolute;
        right: 2rem;
    }

    .thebanner lottie-player {
        width: 20rem;
        height: 12rem;
    }
}



/*Desktop*/
@media only screen and (min-width: 1240px) {
    html {
        font-size: 16px;
    }

    #thebannerdescription {
        flex-direction: row;
    }

    #thebannerdescription p {
        width: 60%;
    }

    
}



/*Desktop huge*/
@media only screen and (min-width: 1440px) {
   
    .thebanner lottie-player {
        width: 24rem;
        height: 18rem;
        align-items: center;
    }

    
}


/*Desktop huge*/
@media only screen and (min-width: 1920px) {
   
    .thebanner lottie-player {
        width: 30rem;
        height: 25rem;
    }

    
}